<h4>Update Activity</h4>
{{#if editActivity}}
<div>
<form>
  <div class="form-group">
    <label for="description">Description: </label>
    {{input value=description placeholder=model.description id="description" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="amount">Goal Amount: </label>
    {{input value=goalamount placeholder=model.goalamount id="amount" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="units">Units: </label>
    {{input value=units placeholder=model.units id="units" class="form-control"}}
  </div>

  <button {{action 'updateActivity' model}} class="btn btn-info form-control">Save</button>
  <button {{action 'deleteActivity' model}} class="btn btn-info form-control">Delete Activity</button>
</form>
</div>
{{else}}
  <button {{action 'activityFormShow'}} class="btn btn-info form-control">Edit Activity</button>
{{/if}}
