<h3>Update Meal</h3>
{{#if editMeal}}
<div>
<form>
  <div class="form-group">
    <label for="description">Description: </label>
    {{input value=model.description id="description" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="amount">Mealtime: </label>

    {{pikaday-input value=model.mealtime format="MMMM Do YYYY, hh:mm"}}

  </div>

  <div class="form-group">
    <label for="foods">Foods: </label>
    {{input value=model.foods id="foods" class="form-control"}}
  </div>

  <button {{action 'saveMeal'}}>Save Meal</button>
</form>
</div>
{{else}}
  <button {{action 'mealFormShow'}}>Edit Meal</button>
{{/if}}
