{{#link-to 'user' user.id }}<h4>{{user.username}}</h4>{{/link-to}}

<li>{{user.firstname}} {{user.lastname}}</li>
<li>email: {{user.email}}</li>
<li>password: {{user.password}}</li>
<li>daily calorie goal: {{user.goal}}</li>
