<form>
  <div class="form-group">
    <label for="food">Food: </label>
    {{input value=foodname id="foodname" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="calories">Calories: </label>
    {{input value=calories id="calories" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="protein">Protein: </label>
    {{input value=protein id="protein" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="carbs">Carbs: </label>
    {{input value=carbs id="carbs" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="fat">Fat: </label>
    {{input value=fat id="fat" class="form-control"}}
  </div>
  <div class="form-group">

    <label for="category">Category:</label>
    <select onchange={{action "selectFood" value="target.value"}} id="new-category">
      {{#each menuFoods as |foodChoice|}}
        <option value={{foodChoice}} selected={{eq food foodChoice}}>{{foodChoice}}</option>
      {{/each}}
    </select>
    {{!-- {{input value=new-category id="new-category"}} --}}

  </div>

  <button {{action 'addNewFood'}} class="btn btn-danger form-control">Add New Food</button>
</form>
