{{#if showUpdateFood}}
<form>
  <div class="form-group">
    <label for="food">Food: </label>
    {{input value=food.food id="edit-food"}}
  </div>
  <div class="form-group">
    <label for="calories">Calories: </label>
    {{input value=food.calories id="edit-calories"}}
  </div>
  <div class="form-group">
    <label for="protein">Protein: </label>
    {{input value=food.protein id="edit-protein"}}
  </div>
  <div class="form-group">
    <label for="carbs">Carbs: </label>
    {{input value=food.carbs id="edit-carbs"}}
  </div>
  <div class="form-group">
    <label for="fat">Fat: </label>
    {{input value=food.fat id="edit-fat"}}
  </div>
  <div class="form-group">
    <label for="category">Category: </label>
    {{input value=food.category id="edit-category"}}
  </div>

  <button {{action 'updateFood'}}>Save Food</button>
</form>

{{else}}
  <button {{action 'showUpdateFood'}}>Edit Food</button>
{{/if}}
