<div class="activitiesBackground">
<img id="logo" src="../img/fithubLogoWhite.png" alt="logo" />
</div>
<div class="container" id="overlay">



<h1>{{model.description}} {{model.goalamount}} {{model.units}}</h1>

{{find-activity model=model}}
<button {{action 'deleteActivity' model}}>Delete Activity</button>
</div>
