<div class="foodBackground">
  <img id="logo" src="../img/fithubLogoWhite.png" alt="logo" />
</div>
<div class="container" id="overlay">

<div id="food-display">
<h2>{{model.foodname}}</h2>
<h3>Calories: {{model.calories}}</h3>
<h3>Carbs: {{model.carbs}}</h3>
<h3>Fat: {{model.fat}}</h3>
<h3>Protein: {{model.protein}}</h3>
<h3>Category: {{model.category}}</h3>
{{update-food food=model updateFood='updateFood' deleteFood='deleteFood'}}

</div>
</div>
