
<div class="usersBackground">
  <img id="logo" src="../img/fithubLogo.png" alt="logo" />
</div>
<div class="container"  id="overlay">
  <div class="row">

  <img src="{{model.image}}" class="profile-image">

<div class="col-xs-5 col-offset-2">


  <h1>{{model.username}}</h1>
<div id="food-display">


{{find-user user=model updateUser='updateUser' deleteUser='deleteUser'}}
</div>
<li>{{#link-to 'activities'}}Log Activity{{/link-to}}</li>
<li>{{#link-to 'meals'}}Log Meal{{/link-to}}</li>
<li>{{#link-to 'user'}}View Stats<{{/link-to}}/li>
</div>
</div>
</div>
<div class="activityDisplay">

<h2>Activity Stats</h2>
{{view-stats}}




<h2>Diet Stats</h2>
{{view-stats}}
</div>
