
<div class="usersBackground">
</div>
<div class="container"  id="overlay">
  <img src="{{model.image}}" class="profile-image">
  <h1>{{model.username}}</h1>

{{find-user user=model updateUser='updateUser'}}
<button {{action 'deleteUser' model}}>Delete User</button>

<li>{{#link-to 'activities'}}Log Activity{{/link-to}}</li>
<li>{{#link-to 'meals'}}Log Meal{{/link-to}}</li>
<li>{{#link-to 'user'}}View Stats<{{/link-to}}/li>

<h2>Activity Stats</h2>
{{view-stats}}

<h2>Diet Stats</h2>
{{view-stats}}


</div>
